<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="{%static 'css/sinfo.css'%}">
</head>

<body>
	<div class="container" >
		<h1>Students Information</h1><hr>
		{% if students %}
		   {% for student in students %}
		      <h2>{{ student.name}} Information</h2>
		      <ul>
		      	<li>Student Rollno:{{ student.roll_no}}</li>
		      	<li>Student DOB:{{ student.dob}}</li>
		      	<li>Student Marks:{{ student.marks}}</li>
		      	<li>Student Email:{{ student.email}}</li>
		      	<li>Student Phone No:{{ student.phonenumber}}</li>
		      	<li>Student Address:{{ student.address}}</li>

		      	
		      </ul>
		    {% endfor %}
		{% else %}
		 	<p>Studens Informations are not avialable</p>
		{% endif %}
	</div>

</body>
</html>